In [4]:
#list

x = [1,2,3,4,5,6]
y = []
z = ['apples','cherry', 'orange' 'melon', 'kiwi']
a = ['alex', 5, 'john', 7, 'sam' , 10 , 'james', 12]
a3 = [[1,2,3],
      [3,5,7],
      [7,8,9]]

In [12]:
class movie:
    def __init__ (self, name, year) :
        self.name = name
        self.year = year
movies = [
    movie("The Matrix",1999),
    movie("Iron man",2007),
    movie("Iron man 2", 2008),
    movie("Shawshank redemption",1999)


]

In [13]:
##Converting into list
name = "Shadab khan"
list(name)

['S', 'h', 'a', 'd', 'a', 'b', ' ', 'k', 'h', 'a', 'n']

In [16]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
print(a[0])

alex

In [18]:
print(a[3])

7

In [19]:
data = list(range(1,101))
print(data[:10])
print(data[10:20])

print(data[-10:])#
print(data[1::2])#Odd numbers
print(data[50:30:-1])##Reverse
print(data[50:30:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32]
[51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32]

In [20]:
for item in a:
    print(item
          )

alex
5
john
7
sam
10
james
12

In [21]:
movies = []
movies.append('thor')

In [23]:
movies.append('flash')
movies.append('odin')
movies.append('loki')
movies.append('ironman')
movies.append('hulk')
movies.append('tnenet')
movies.append('batman')
movies.append('petrik betmen')
movies.append('inception')
movies.append('avenger')
movies.append('lucy')

In [24]:
movies.insert(3,'kungu hustle') #inserting wihtout replacing
movies

['thor',
 'flash',
 'odin',
 'kungu hustle',
 'loki',
 'ironman',
 'hulk',
 'tnenet',
 'batman',
 'petrik betmen',
 'inception',
 'avenger',
 'lucy']

In [26]:
x = [1,2,3,4]
y = [5,6,7,8]
x+y

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
x.extend(y)
x

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8]

In [30]:
movies.remove('flash')

In [32]:
movies

['thor',
 'odin',
 'kungu hustle',
 'loki',
 'ironman',
 'hulk',
 'tnenet',
 'batman',
 'petrik betmen',
 'inception',
 'avenger',
 'lucy']

In [33]:
movies.pop()

'lucy'

In [36]:
value = 'loki'
if value in movies:
    movies.remove(value)
else:
    print('value not found')

In [37]:
movies

['thor',
 'odin',
 'kungu hustle',
 'ironman',
 'hulk',
 'tnenet',
 'batman',
 'petrik betmen',
 'inception',
 'avenger']

In [40]:
movies.clear() #Clear all the data from the list

In [41]:
movies

[]

In [42]:
del data  #Will delete the variable

In [44]:
books = ['atomic habits','subtle art of not giving fuck','rich dad poor dad','white sand', 'atlantis','hero','age of ultron','hobbit']

In [45]:
books.index('hobbit')

7

In [48]:
x = [1,1,2,3,4,1,2,2,3,4,4,5,5,5,6,5,6,7,8,9,3,5,2,1]

In [51]:
x.count(1)

4

In [52]:
x.count(3)

3

In [53]:
#It will reverse the list permanently

books.reverse()
print(books )

['hobbit', 'age of', 'hero', 'atlantis', 'white sand', 'rich dad poor dad', 'subtle art of not giving fuck', 'atomic habits']

In [54]:
books.sort(reverse = True) #sort data in descending order 
print(books )

['white sand', 'subtle art of not giving fuck', 'rich dad poor dad', 'hobbit', 'hero', 'atomic habits', 'atlantis', 'age of']

In [55]:
books_backup  = books.copy() #a copy of variable is created at a different memory location

In [56]:
books2 = books #both variable point to same memory location not suggested

In [57]:
books.append('thorrr')
print(books)
print(books2)
print(books_backup)

['white sand', 'subtle art of not giving fuck', 'rich dad poor dad', 'hobbit', 'hero', 'atomic habits', 'atlantis', 'age of', 'thorrr']
['white sand', 'subtle art of not giving fuck', 'rich dad poor dad', 'hobbit', 'hero', 'atomic habits', 'atlantis', 'age of', 'thorrr']
['white sand', 'subtle art of not giving fuck', 'rich dad poor dad', 'hobbit', 'hero', 'atomic habits', 'atlantis', 'age of']

In [58]:
books2 is books

True

In [59]:
books_backup is books

False