Tuple
python default sequential data structure
-indexed , ordered , heterogenous -immutable -represented by '()'

faster than list
-tuple() convert any sequence to tuple

Set
unordered , unindexed, mutable
unique elements only
can store only immutable elements
represented by '{}'
set() convert any sequence to set.

In [1]:
#TUPLE

x = (1,'a' , 3)
print(x)
type(x)

(1, 'a', 3)

tuple

In [2]:
#Tuple unpacking 

x1, x2, x3 = x
x1,x2,x3

(1, 'a', 3)

In [3]:
c = (1,2,3,4,5,6,7,8,9,10)
a1,a2,*a3 = c
a1,a2,*a3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
print(c[3:6])

(4, 5, 6)

In [5]:
c[:3]

(1, 2, 3)

In [6]:
c[1:3]

(2, 3)

In [8]:
for i in c:
    print(i)

1
2
3
4
5
6
7
8
9
10

Tuple method 

1-Count
2. Index

In [21]:
x = (1,2,3,4,5,6,7,8,9,34,3,23,45,67,77,1,2,1,3,2,1,1)

In [22]:
x.count(1) #The count() method returns the number of times a specified value appears in the tuple.

5

In [25]:
x.count(2)

3

In [26]:
x.count(3)

3

In [27]:
##SET

s = {1,2,3,4,5,6,7,5,3,2,1,8}
print(s)
type(s)

{1, 2, 3, 4, 5, 6, 7, 8}

set

In [29]:
s1 = set()
print(s1) #Empty set

set()

In [30]:
s1.add(333)

In [31]:
s1

{333}

In [32]:
s1.add('Helo , Im shadab khan')
s1.add(41)
s1.add('Peace out')

In [33]:
print(s1)

{41, 'Helo , Im shadab khan', 333, 'Peace out'}

In [35]:
s1.discard(41) #remove chosen data from set

In [36]:
s1

{333, 'Helo , Im shadab khan', 'Peace out'}

In [37]:
## Set operations 

g1 = {'Apple','mango','banana','pineapple','watermelon','kiwi'}
g2 = {'Apple','cherry','blueberry','orange','kiwi'}

In [38]:
print(g1 & g2)

{'kiwi', 'Apple'}

In [39]:
print(g1.intersection(g2))

{'kiwi', 'Apple'}

In [41]:
print(g2 - g1)
print(g1 - g2) ##Difference

{'blueberry', 'orange', 'cherry'}
{'watermelon', 'mango', 'banana', 'pineapple'}

In [43]:
#Union

print(g1|g2)

{'watermelon', 'banana', 'kiwi', 'mango', 'blueberry', 'Apple', 'orange', 'cherry', 'pineapple'}

In [44]:
#Symmetric difference 

print(g1 ^g2) 
print(g1.symmetric_difference(g2))

{'banana', 'pineapple', 'mango', 'blueberry', 'orange', 'cherry', 'watermelon'}
{'banana', 'pineapple', 'mango', 'blueberry', 'orange', 'cherry', 'watermelon'}

In [45]:

print(g2 ^g1) 
print(g2.symmetric_difference(g1))

{'watermelon', 'banana', 'mango', 'blueberry', 'orange', 'cherry', 'pineapple'}
{'watermelon', 'banana', 'mango', 'blueberry', 'orange', 'cherry', 'pineapple'}

##Task
-create a list called reports that will hold report of 7 students -each student will have a name and marks in 3 subjects -use for loop to display the report of each student

In [46]:
reports = [['A',50,60,89],['B',90,78,98],['C',65,78,98],['D',76,45,78],['E',55,65,78]]
for i in reports:
    print(i)

['A', 50, 60, 89]
['B', 90, 78, 98]
['C', 65, 78, 98]
['D', 76, 45, 78]
['E', 55, 65, 78]

In [47]:
report = [
    ['Rohan',[
        ['Maths',90],
        ['English',80],
        ['Hindi',76],
    ]]
]

In [48]:
for i in report :
    print(i)

['Rohan', [['Maths', 90], ['English', 80], ['Hindi', 76]]]

In [49]:
for student in report :
    for details in student:
        print(details)

Rohan
[['Maths', 90], ['English', 80], ['Hindi', 76]]

In [50]:
for stud in report:
    for detaills in stud :
        if isinstance(detaills,str):
            print(detaills)
        if isinstance(detaills,list):
            for subject in detaills :
                print(subject[0],subject[1])

Rohan
Maths 90
English 80
Hindi 76