In [1]:
str  = 'digipodium'
str[1]

'i'

In [5]:
str[1:3]

'ig'

In [8]:
str[1:5]

'igip'

In [21]:
n = 'vijay dinanath chauhan'

In [24]:
n[6:15]

'dinanath '

In [29]:
n[-7:]

'chauhan'

In [38]:
n[-1:-12:-1]

'nahuahc hta'

In [ ]:
n.

String methods
-valisation methods
--isalpha
-isalnum
-isspace
-isupper
istitle
isstartswith
endswith

FORMATTING METHOD
-

-upper 
-lower
-title
-swapcase
capitalize
-casefold


UTILITY METHOD

-count
-join
replace
split
join
strip

In [40]:
x = input('Enter any number : ')
if x.isnumeric():
    x = int (x)
    print(x)
    
else :
    print("Invalid input")

55

In [44]:
uname = input("enter your name")
if uname.isalnum():

    print('Hello', uname)
else:
    print('invalid input')

Hello shad

In [45]:
name = ['mr a','mr b', 'mr c' , 'mrs a', 'mrs b', 'mrs c', 'shad']
for i in name:
    if i.startswith('mr') or i.startswith('mrs'):
        print(f'welcome {i}')
    else:
        print(f'youre not invited {i}')

welcome mr a
welcome mr b
welcome mr c
welcome mrs a
welcome mrs b
welcome mrs c
youre not invited shad

In [47]:
files = ['abc.txt','abc.doc','pqr.py','mno.py','df.txt']
for item in files:
    if item.endswith('.txt'): 
        print(f'{item:10} text file')
    elif item.endswith('.py'):
        print(f'{item:10} python file')
    else:
        print(f'{item:15} unknow file type')  # :10 or :15 used for space #Allignment

abc.txt    text file
abc.doc         unknow file type
pqr.py     python file
mno.py     python file
df.txt     text file

#functions

In [49]:
name = "My name iss shadab khan"

print(name.upper())
print(name.lower())
print(name.title())
print(name.capitalize())
print(name.swapcase())
print(name.casefold())

MY NAME ISS SHADAB KHAN
my name iss shadab khan
My Name Iss Shadab Khan
My name iss shadab khan
mY NAME ISS SHADAB KHAN
my name iss shadab khan

Count function

In [51]:
s = ' this is an example of the string,this is a simple string'
print(s.count('is'))

4

In [52]:
s.count('t')

5

In [57]:
#TOtal vowels

new = s.count('a')+ s.count('e')+s.count('i')

In [58]:
new

14

#Find function

In [60]:
s.find('example')
s.find('is')
s.find('is',3)
s.find('is',6)

6


Replace function

In [62]:
s.replace('is', 'was')

' thwas was an example of the string,thwas was a simple string'

In [63]:
s.replace('is' , '')n#Will remove al the is from the is from the string

' th  an example of the string,th  a simple string'

In [64]:
#To make the changes permanently

s = s.replace('is','will')

In [65]:
s

' thwill will an example of the string,thwill will a simple string'

In [66]:
#Convert string into the list
s.split(',')

[' thwill will an example of the string', 'thwill will a simple string']

In [67]:
words = ['one','two','three', 'four']
"*".join(words)

'one*two*three*four'

In [68]:
' '.join(words)

'one two three four'

In [69]:
''.join(words)

'onetwothreefour'

In [73]:
#To remove extra space from start and the end
## It also remove \n\n

x = '  Shadab '
print(x)
x.strip()

  Shadab

'Shadab'

In [77]:
x = 5 +8

x

13